<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Certificate-factory</title>
		<link asp-append-version="true" href="~/Style/Site.css" rel="stylesheet" />
	</head>
	<body class="pb-3">
		<header class="fixed-top">
			<nav class="container-fluid navbar navbar-expand-md navbar-dark bg-dark">
				<a class="navbar-brand" href="/">
					<img alt="Logo" src="/Style/Images/logo-32x32.png" />
				</a>
				<button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navigation" data-bs-toggle="collapse" type="button">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navigation">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a asp-controller="TlsCertificate" class="nav-link@(this.IsActive("TlsCertificate") ? " active" : null)">TLS-certificate</a>
						</li>
						<li class="nav-item">
							<a asp-controller="ClientCertificate" class="nav-link@(this.IsActive("ClientCertificate") ? " active" : null)">Client-certificate</a>
						</li>
						<li class="nav-item">
							<a asp-controller="IntermediateCertificate" class="nav-link@(this.IsActive("IntermediateCertificate") ? " active" : null)">Intermediate-certificate</a>
						</li>
						<li class="nav-item">
							<a asp-controller="RootCertificate" class="nav-link@(this.IsActive("RootCertificate") ? " active" : null)">Root-certificate</a>
						</li>
						<li class="nav-item">
							<a asp-controller="Certificate" class="nav-link@(this.IsActive("Certificate") ? " active" : null)">Certificate</a>
						</li>
						<li class="nav-item">
							<a asp-controller="JsonConfiguredCertificates" class="nav-link@(this.IsActive("JsonConfiguredCertificates") ? " active" : null)">Json-configured-certificates</a>
						</li>
						<li class="nav-item">
							<a asp-controller="AsymmetricAlgorithms" class="nav-link@(this.IsActive("AsymmetricAlgorithms") ? " active" : null)">Asymmetric algorithms</a>
						</li>
						<li class="nav-item">
							<a asp-controller="HostCertificates" class="nav-link@(this.IsActive("HostCertificates") ? " active" : null)">Host certificates</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main class="container-md" role="main">
			@RenderBody()
		</main>
		<script asp-append-version="true" src="~/Scripts/Site.js"></script>
	</body>
</html>