@model IPasswordCertificateForm
@if(Model != null)
{
	<div class="mb-3">
		<label for="password-input" title="Required">
			@nameof(Model.Password) <small class="form-text text-muted">*</small>
		</label>
		<input autocomplete="off" class="form-control" id="password-input" name="@nameof(Model.Password)" type="password" />
		<small class="form-text text-muted">The password is used to protect the *.pfx and *.p12 file in the zip-file.</small>
	</div>
}