@model RootCertificateViewModel
<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">Root-certificate</h1>
	</div>
	<div class="card-body">
		<p>Create a root certificate authority.</p>
		<partial name="ValidationSummary" />
		<partial for="Form" name="Form" />
	</div>
</div>