$enable-negative-margins: true;
@import "../node_modules/bootstrap/scss/bootstrap";

body {
	margin-top: 75px;
}

form {
	label {
		display: block;
		font-weight: bold;
	}
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
	max-width: 960px;
}

.navbar-brand {
	padding: 0;
}