@model TlsCertificateViewModel
<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">TLS-certificate</h1>
	</div>
	<div class="card-body">
		<p>Create a TLS certificate.</p>
		<partial name="ValidationSummary" />
		<partial for="Form" name="Form" />
	</div>
</div>